@import "/src/assets/styles/01_global/colors";
@import "/src/assets/styles/01_global/text";
@import "/src/assets/styles/01_global/mixins";

.DateField {
    margin: 24px 0;
    max-width: 320px;
    @include cleanMargins();

    .DateField__label {
        color: $white;
        font-size: $base-font-size - 2px;
        text-align: left;
        z-index: 1;
    }

    .DateField__input {
        border: 0;
        border-radius: 4px;
        font-size: $base-font-size - 2px;
        margin: 0;
        padding: 20px 12px 10px;
        text-align: left;
        width: 100%;
    }
}
