@import "/src/assets/styles/01_global/colors";
@import "/src/assets/styles/01_global/text";
@import "/src/assets/styles/01_global/mixins";

.Button {
	background-color: $red;
	border-radius: 4px;
	box-sizing: content-box;
	color: $white;
	display: block;
	font-size: $base-font-size - 4px;
    margin: 24px 0;
	padding: 8px 16px;
	position: relative;
	text-transform: uppercase;
	transition: .2s;
	max-width: 200px;
	word-break: keep-all;
    @include cleanMargins();

	&:hover {
		background-color: $white;
		color: $blue;
	}
}

.ButtonGroup {
	display: flex;
	justify-content: flex-end;
    margin: 24px 0;
    @include cleanMargins();

	.Button {
		margin: 0 8px;
	}
}
