/**
 *
 * ██╗    ██╗██████╗  █████╗ ██████╗ ██████╗ ███████╗██████╗ ███████╗
 * ██║    ██║██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝
 * ██║ █╗ ██║██████╔╝███████║██████╔╝██████╔╝█████╗  ██████╔╝███████╗
 * ██║███╗██║██╔══██╗██╔══██║██╔═══╝ ██╔═══╝ ██╔══╝  ██╔══██╗╚════██║
 * ╚███╔███╔╝██║  ██║██║  ██║██║     ██║     ███████╗██║  ██║███████║
 *  ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * Styling of wrapper tags
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: linear-gradient(180deg, $black 15%, $blue 70%, $yellow 130%);
	background-color: $black1;
	height: 100%;
	margin: 0;
	position: relative;

	&::before {
		content: "";
		background-image: url("../../images/bg-stars.png");
		display: block;
		height: 124px;
		position: absolute;
		top: 124px;
		width: 100%;
	}
}

main {

}

header {

}

article {

}

section {

}

footer {

}

div {

}
