@import "../../assets/styles/01_global/colors";

$header-height: 124px;

.Header {
	background-color: $black;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	height: $header-height;
	padding: 16px;
	width: 100%;

	a {
		flex-shrink: 1;
		flex-grow: 0;
	}

	.Header__logo {
		height: 100%;

		img {
		   height: 100%;
		   object-fit: contain;
	   }
	}

	.Header__logout {
		margin: auto 0;
	}
}
