@import "../../assets/styles/01_global/colors";

$header-height: 124px;

.Header {
	background-color: $black;
	box-sizing: border-box;
	display: flex;
	height: $header-height;
	padding: 16px;
	width: 100%;

	.Header__logo {
		height: $header-height;

		img {
		   height: 100%;
		   object-fit: contain;
	   }
	}
}
